
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;    
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #676a6c;

    
}


a,label,p{
    font-size: 13px !important;
}


header.navbar {
    margin-bottom: 0px;
    border: none;
}
.navbar-inverse {
    background-color: #313338;
    border-color: #191a1d;
}
.navbar-fixed-top {
    z-index: 1030;
    top: 0;
}
.panel-body{
 padding: 20px;
   
 //border-radius: 10px;
}

#page-container {
    background: #e6e7e8;
    overflow: hidden;
}
.page-container {
    background: #e6e7e8;
    overflow: hidden !important;
    width: 100%;
    height: 100%;
}
#page-content {
    padding-bottom: 30px;
}
#page-content {
    min-height: 650px;
    background: #f7f8fa;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);
}
.loginPageContent {
    margin-left: 0 !important;
}
#wrap>.container {
    min-height: 470px !important;
}
#wrap > .container {
    padding: 20px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.logo-img {
    content: url(../Content/images/tivo_logo_2011_black.png);
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.panel-primary {
    border-color: #4f8edc;
}
.panel {
    margin: 0px 0 20px;
    border-radius: 1px;
}
.panel-primary .panel-body {
    border-top: 1px solid #ddd;
}
.text-center {
    text-align: center;
	margin-bottom: 10px!important;
    margin-top: 0!important;
}
.panel-heading {
   
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* form*/

.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.form-control:focus, .single-line:focus {
    border-color: #1ab394 !important;
}
.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none;
}

.form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
}
.form-group {
    margin-bottom: 20px;
}
.input-group {
    width: 100%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-addon:first-child {
    border-right: 0;
}

.input-group-addon {
    padding: 7px 5px;
    min-width: 44px;
}
.input-group-addon {
    padding: 7px 15px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #4d4d4d;
    text-align: center;
    background-color: #edeef0;
    border: 1px solid #d2d3d6;
    border-radius: 1px;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.test{
color: red;
text-align: right;
}
.iframe{
	width: 400px;
    height: 500px;
}
.inputurl{
	width: 330px;
    height: 20px;
}
.tab-window{
	height: 550px;
    width: 1100px;
    border-color: red;
    border-top: 1px solid height: 550px;
    width: 1100px;
    border-color: red;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/* font style */

.font-bold {
    font-weight: 700;
}


.text-uppercase {
    text-transform: uppercase;
}



/* background colours */

.white-bg {
    background-color: #ffffff;
}

.bg-green {
    background-color: #368a55 !important;
}

/* button*/
.btn {
    
    border-radius: 2px;
}

.btn-red {
    color: #ffffff;
    background: #ed5441;
    border: 1px solid #e52d16;
}

.btn-red:hover, .btn-red:focus, .btn-red.active, .btn-red:active {
    color: #ffffff;
    background: #e52d16;
}


.btn-green {
    //color: #ffffff;
    //background:#368a55 !important;
    //border: 1px solid #368a55;
	
	background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.btn-green:hover, .btn-green:focus, .btn-green:active{
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}

/*border */

.border-bottom {
    border-bottom: 1px solid #e7eaec;
}

/*breadcrumb */ 

.breadcrumb {
   
    margin-top: 20px;
    background-color: #ffffff;
}

.breadcrumb>.active {
    color: #676a6c;
}

.hierarchy{
	
	min-height:100px;
	border: 1px solid #dddddd;
    overflow-y: scroll;
	font-size: 11px;
	
}	

.field-selector-input{
	
	display:inline;
	width: 64%;   
	height: 25px;
	font-size: 11px;
	
	
}	

#defining{
	
	width: 53%;
    font-size: 11px;
	height:25px;
	
}	

#logo.navbar-brand>img {
    margin: 0 auto;
    padding-right: 4px;
    height: 19px;

}

/* panel */

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
 .crawlerTable{
width:150px;

}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: none;
}
.btn-style{
margin-left: 10px;
}



/*Calendar styles*/


.calendar-container {
    position: relative;
    width: 450px;
}

.calendar {
    background: #fff;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
    color: #555;
    display: inline-block;
    padding: 1em;
}

.calendar td {
    padding: .5em;
    text-align: center;
	cursor: pointer;
	background: #fff;
    color: #000;
}
.calendar tbody td:not(:empty):hover {
    background: #0f0;
    color: #fff;
}

/*Calendar styles*/


#formError  label{
	color: red;
}